.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
target/
.claude/

.env

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*.jar
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/app/config/application.properties
var/

### Junie ###
test_*.html
